<div class="arena" ng-class="[view, notesToggle ? 'show-notes' : '']">
  <div class="infostrip">
    <span class="logo">Learnful</span>
    <div lf-frame-finder="focus(frameKey)" placeholder="What do you want to learn or teach?"></div>
    <span class="goal">
      <span ng-if="arena.rootFrameKey">
        Goal:
        <span lf-completion="arena.rootFrameKey" state-user-key="arena.ownerKey || user.currentUserKey" control="readonly"></span>
        <span class="title">{{rootFrameCore.title}}</span>
      </span>
      <span ng-if="arena.ownerKey &amp;&amp; user.currentUserKey !== arena.ownerKey">
        (for <span lf-avatar="arena.ownerKey" format="long"></span>)
      </span>
    </span>
    <div class="current-user" lf-avatar="user.currentUserKey" format="long"></div>
    <div class="notes-button" ng-click="notesToggle = !notesToggle">
      <span class="notes-icon fa fa-file-text-o"></span> Notes
    </div>
  </div>
  <div class="notes">
    <div class="notes-text proportional-font" lf-code-editor ng-model="arena.notes"
         placeholder="Enter your personal notes here."></div>
    <div class="viewport-button edit-frame icon-button fa fa-pencil"
     ng-class="{on: arena.layout[focusedFrameKey].mode &amp;&amp; arena.layout[focusedFrameKey].mode !== 'explore'}"
     ng-click="toggleEdit()" title="Toggle edit mode"></div>
  </div>
  <div class="viewport" ng-style="viewportStyle">
    <canvas class="frame-connections"></canvas>
    <div ng-repeat="(frameKey, layout) in arena.layout" class="frame-wrapper"
         ng-class="{focused: focusedFrameKey === frameKey}"
         ng-style="frameWrapperStyles[frameKey]">
      <div class="frame-scaler">
        <div lf-frame="frameKey"
             mode="arena.layout[frameKey].mode"
             state-user-key="arena.ownerKey || user.currentUserKey"
             focused="focusedFrameKey === frameKey"></div>
        <div class="frame-cover" ng-click="focus(frameKey)"></div>
        <div class="frame-hide-button icon-button fa fa-times-circle" ng-click="hideFrame(frameKey)"></div>
      </div>
    </div>
  </div>
  <div class="viewport-button zoom-out icon-button fa fa-search-minus" ng-click="focus()"></div>
  </div>
</div>
