<div class="frame" ng-class="[mode, focused ? 'focused' : '']">
  <div class="title" ng-include="'partials/frame_title_' + mode + '.html'"></div>
  <div class="main-body">
    <div class="content-wrapper">
      <div class="content" ng-include="'partials/frame_' + mode + '.html'"></div>
    </div>
    <div class="sidebar">
      <h5>
        <span ng-show="mode === 'explore'">Chat</span>
        <span ng-show="mode !== 'explore'">Editor chat</span>
      </h5>
      <div ng-if="mode === 'explore'" class="sidebar-content"
           lf-chatroom frame-set="frames" frame-key="frameKey" presence="focused"
           state-user-key="stateUserKey">
      </div>
      <div ng-if="mode !== 'explore'" class="sidebar-content"
           lf-chatroom frame-set="drafts" frame-key="frameKey" presence="focused"
           state-user-key="stateUserKey" preferred-author-key="stateUserKey">
      </div>
    </div>
  </div>
  <div class="footer" ng-include="'partials/frame_footer_' + mode + '.html'"></div>
</div>
