<div class="sequencer smooth">
  <button class="pure-button" ng-class="{'pure-button-primary': isGoToIncompleteChildPrimary()}"
          ng-disabled="!hasAvailableChild()"
          ng-click="goToIncompleteChild()">Too much&mdash;break it down!</button>
  <button class="pure-button"
          ng-class="{'pure-button-primary': isCompleteAndGoToParentPrimary()}"
          ng-click="completeAndGoToParent()">I got this&mdash;move on!</button>
  <button class="pure-button" ng-click="goElsewhere()">Let's try something else...</button>
</div>
