<div class="arena"
     ng-class="[view, notesToggle ? 'show-notes' : '', transition.stage ? 'transition-' + transition.stage : '']">
  <div class="background smooth"></div>
  <div class="beta-links">
    <a href="https://github.com/Learnful/learnful/wiki/Release-notes" target="_blank">Release notes</a> &bull;
    <a href="https://github.com/Learnful/learnful" target="_blank">GitHub</a>
  </div>
  <div class="infostrip">
    <div class="beta">alpha</div>
    <span class="logo">Learnful</span>
    <div lf-frame-finder focus placeholder="What do you want to learn or teach?"></div>
    <span class="goal">
      <span ng-if="arena.core.rootFrameKey">
        Goal:
        <span lf-completion="arena.core.rootFrameKey" state-user-key="arena.core.ownerKey || user.currentUserKey" control="readonly"></span>
        <span class="title">{{rootFrameCore.title}}</span>
      </span>
      <span ng-if="arena.ownerKey &amp;&amp; user.currentUserKey !== arena.core.ownerKey">
        (for <span lf-avatar="arena.core.ownerKey" format="long"></span>)
      </span>
    </span>
    <div class="current-user" lf-avatar="user.currentUserKey" format="long"></div>
    <div class="notes-button" ng-click="notesToggle = !notesToggle">
      <img src="/images/notes.png"/> Notes
    </div>
  </div>
  <div class="notes smooth">
    <div class="notes-text proportional-font" lf-code-editor ng-model="arena.notes"
         placeholder="A place for notes related to this workspace."></div>
    <div class="viewport-button edit-frame icon-button smooth fa fa-pencil"
     ng-class="{on: arenaStates.frames[focusedFrameKey].mode &amp;&amp; arenaStates.frames[focusedFrameKey].mode !== 'explore'}"
     ng-click="toggleEdit()" title="Toggle edit mode"></div>
  </div>
  <div class="loading smooth">Loading...</div>
  <div class="viewport smooth" ng-style="viewportStyle" style="opacity: 0">
    <canvas class="frame-connections smooth"></canvas>
    <div ng-repeat="(frameKey, layout) in getLayout()" class="frame-wrapper smooth"
         ng-class="{focused: focusedFrameKey === frameKey, editing: arenaStates.frames[frameKey].mode &amp;&amp; arenaStates.frames[frameKey].mode !== 'explore'}"
         ng-style="frameWrapperStyles[frameKey]">
      <div class="frame-scaler">
        <div lf-frame="frameKey"
             mode="arenaStates.frames[frameKey].mode"
             state-user-key="arena.ownerKey || user.currentUserKey"
             focused="focusedFrameKey === frameKey"></div>
        <div class="frame-cover" ng-click="selectFrame(frameKey)"></div>
        <div class="frame-hide-button icon-button fa fa-times-circle" ng-click="hideFrame(frameKey)"
             title="Remove this frame from the workspace (does not delete it)."></div>
      </div>
    </div>
  </div>
  <div class="viewport-button zoom-out icon-button smooth fa fa-search-minus" ng-click="focus()"
       title="Zoom back out to the workspace."></div>
  </div>
</div>
